.idea
.externalToolBuilders
.appcloud
.project
.settings
.cci
node_modules/
build.properties
salesforce.schema
Referenced Packages
IlluminatedCloud
/uninstall
/uninstallsrc
/installdeploy
/installedPackages
test_results.json
test_results.xml
unpackaged/*/*/*.zip
unpackaged/namespaced_zipped
unpackaged/zipped
unpackaged_stage
packaged
.*.swp
*.pyc
.sfdx
.vscode
.cci

# macOS Specific Ignores
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
*.DS_Store
.AppleDouble
.LSOverride

