.THIS .slds-form-element__icon,
.THIS lightning-lookup label.slds-form-element__label,
.THIS .forceInputField .form-element__label,
.THIS lightning-lookup .slds-form-element__icon {
    display: none !important;
}
.THIS .show-required {
    font-weight: 400; 
} 
.THIS .show-required:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .hidden-field {
    display: none;
}
.THIS .slds-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
.THIS .uiInput--input .input, 
.THIS .uiInput--input.input,
.THIS .uiInput--select.select:not([multiple]), 
.THIS .uiInput--select .select:not([multiple]), 
.THIS .uiInput--select .uiPopupTrigger a {
    height: calc(1.875rem + (1px * 2));
}
.THIS button.slds-page-header .slds-icon_container {
    margin-right: 5px;
}
.THIS #submitError {
    position: fixed;
    bottom: 50px;
    left: 0;
}

.THIS.outerDivContainer {
    padding: 0px 0px 240px 0px;
}

.THIS [data-type='field'] [lightning-quill_quill].slds-form-element__label {
    display: none;
}

@supports (-ms-ime-align:auto) {
    .THIS.outerDivContainer {
        padding: 0px 0px 240px 0px;
    }
  }
