.THIS .slds-form-element__icon.slds-align-middle {
    display: none;
}
.THIS .show-required {
    font-weight: 400; 
} 
.THIS .show-required:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .hidden-field {
    display: none;
}