.THIS .slds-has-error,
.THIS .slds-has-error .slds-box--border,
.THIS .slds-has-error.uiInput--select .uiPopupTrigger a {
    border-color: rgb(194, 57, 52);
    border-width: 2px;
}
.THIS .show-required {
    font-weight: 400; 
}
.THIS .show-required:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .slds-hidden {
    height: 0;
    width: 0;
}
.THIS .select-container .slds-form-element__label {
    display: none !important;
}
/*
.THIS .uiInput--default .form-element__label {
    color: rgb(112, 110, 107);
    font-size: .75rem;
    line-height: 1.5;
    margin-bottom: .125rem;
}
*/