.THIS .slds-has-error .slds-box--border {
    border-color: rgb(194, 57, 52);
    border-width: 2px;
}
.THIS .show-required {
    font-weight: 400; 
}
.THIS .show-required:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .slds-hidden {
    height: 0;
    width: 0;
}